.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#cep {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
#cep input {
  font-size: 1.8em;
  text-align: center;
  background-color: aliceblue;
  border: 1px solid wheat;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#cep-icon {
  margin-left: 4px;
}

#localidade {
  padding-top: 25px;
  font-size: 1.4em;
}

#temperatura-atual {
  padding-top: 25px;
  font-size: 1.4em;
}

#temperaturas {
  padding-top: 25px;
  font-size: 1.4em;
  display: flex;
}

.box {
  background-color: tomato;
  border-radius: 10px;
  border: 4px solid red;
  width: 120px;
  height: 120px;
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.box .data {
  font-size: 0.6em;
}
.box .max {
  font-size: 1.8em;
}
.box .min {
  font-size: 1em;
}
.box .descricao {
  font-size: 0.5em;
}

#msgerro {
  border-radius: 10px;
  font-size: 1.3em;
  margin: 50px;
  padding: 10px;
  color: #fff;
  background-color: tomato;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.hide-erro {
  display: none;
}
